.left{float:left;}
.right{float:right;}
.both{clear:both;}
.center{text-align:center;}

.inner{width:80%; margin:0 auto;}
.section{height:300px;}
.slider{width:100%; margin:25px 0 0 0;
	img{display: block; width:100%;}
}
