.left{float:left;}
.right{float:right;}
.both{clear:both;}
.center{text-align:center;}

/*--triangles--*/
.arrow-down-green {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid $main-green;
	margin:0 auto;
}

.arrow-down-blue {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid $main-blue;
	margin:0 auto;
}


.divider{border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; width:100%; padding:2px 0;}

.inner{width:80%; margin:0 auto;}
.section{}
.slider{width:100%; margin:25px 0 0 0; img{display: block; width:100%;} }

/*--headers fonts--*/
h2{font-family: 'lorabold'; color:$main-blue;}
h4{font-family: 'lorabold';  color:$main-green; font-size:16px; margin:0; letter-spacing:1px;}
h5{font-family: 'lorabold_italic'; color:$main-green; font-size:18px;}

/*--body text fonts--*/
p{font-family: 'open_sansregular'; line-height:1.8em; font-size:14px; color:#5e5d5d;}

/*--map--*/
.map{border:0; width:100%; display:block; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding:10px 0; margin:2px 0;}


.quienes-somos{
	.head{width:100%; background-color:$main-green;
		h3{margin:0; width:34%; color:#fff; font-family: 'merriweatheritalic'; margin: 0 auto; font-weight:normal; font-size:15px; padding:10px 0;}
		
	}
	
	.inner{ padding:50px 0;
		.content{width:48%;
			img{display:block; width:70%; margin-bottom:10px;}
		}
		.content.right{border-top:1px solid $main-green; border-bottom:1px solid $main-green; padding:5px 0;
			img{float:left; width:auto;}
			.info{float:right; width:80%; margin-top:25px;
				h2{}
				p{}
				h5{color:$main-green;}
			}
		}
	}
}


.perfil{
	.inner{ padding:50px 0;
		.content{width:48%;
			img{display:block; width:70%; margin-bottom:10px;}
		}
		.content.left{border-top:1px solid $main-green; border-bottom:1px solid $main-green; padding:5px 0;
			img{float:left; width:auto;}
			.info{float:right; width:80%; margin-top:25px;
				h2{}
				p{}
				h5{color:$main-green;}
			}
		}
	}
}

.oportunidades{
	.head{width:100%; background-color:$main-blue;
		h3{margin:0; width:34%; color:#fff; font-family: 'merriweatheritalic'; margin: 0 auto; font-weight:normal; font-size:15px; padding:10px 0;
			span{color:$main-green;}
		}
	}
	
	.inner{ padding:50px 0;
		.content{width:48%;
			img{display:block; width:70%; margin-bottom:10px;}
		}
		.content.right{border-top:1px solid $main-green; border-bottom:1px solid $main-green; padding:5px 0;
			img{float:left; width:auto;}
			.info{float:right; width:80%; margin-top:25px;
				h2{}
				p{}
				h5{color:$main-green;}
			}
		}
	}
}

.bridge-img{display:block; width:100%; clear:both; margin:20px 0; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; padding:5px 0;}

.asociados{margin-bottom: 50px;
	.inner{border-top:1px solid $main-green; border-bottom:1px solid $main-green; padding:40px 0;
		.content{}
		.content.right{width:85%;
			h2{}
			.container{border-top:1px solid $main-green;  padding:10px 0;
				button{outline:none;  border:none; background-color:#f9f9f9; display: inline-block; width:30%; padding:3% 0%; &:nth-child(3){margin:0 4%;}
					a{font-family: 'open_sanssemibold'; text-decoration:none; color:$main-green; &:hover{color:$main-blue;}}
				}
			}		
		}
	}
}

.beneficios{background-color:#f6f6f6; /*border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;*/
	.inner{ padding:50px 0;
		.content.right{width:85%;
			h2{}
			ul{list-style-type:none; margin:0; padding:0;
				li{display:inline-block; min-width:32%; margin:5px 0; color:#1f2a44; font-family: 'open_sansbold'; font-size:14px;
					img{display: inline-block; vertical-align:middle; }
				}
			}		
		}
	}
}


.contacto{background-color:#fff; /*border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;*/
	.inner{ padding:50px 0;
		.cont-left{width:60%; float:left;
			h2{}
			.contact-form{display: block; padding:10px 0; border-top:1px solid #e3e3e3; 
				input[type="text"]{width:30%; padding:1%; display: inline-block; margin:5px 0; border:1px solid #e1e1e1;}
				textarea{width:97%; border:1px solid #e1e1e1; height:200px; margin:5px 0;}
				input[type="submit"]{display:block; border:0; background-color:$main-green; color:$main-blue; width:98%;}
			}	
		}
		
		.cont-right{width:37%; float:right; border-top:1px solid #e3e3e3; 
			span{display:block; font-family: 'open_sansregular'; color:#5e5d5d; line-height:1.8em; font-size:12px;}
			
			span.first{border-bottom:1px solid #e3e3e3; padding-bottom:10px;}
			
			span.second{padding:10px 0; border-bottom:1px solid #e3e3e3; 
				a{text-decoration:none; color:#5e5d5d; &:hover{color:$main-green;}}
			}
			img{ bottom:0; display:block; clear:both; margin-top: 25px;} 
		}
	}
}


/*--mail confirmation page page ---*/
.mail{
	.inner{text-align: center; 
		h1{margin-top:20%; font-family: 'lorabold_italic'; color:$main-green;}
	}
}	